<footer class="footer">
	<div class="container-fluid">
		<p class="footer__p">הפעילות תימשך עד 15.7.2018 | רשימת המסעדות עשויה להשתנות מעת לעת | מגוון המנות המוצעות ומידת התאמתן למנות המתוארות עשוי להשתנות ממסעדה למסעדה ונתון לשיקול דעתן הבלעדי</p>
		<p class="footer__p">
			בכפוף למלאי הקיים במסעדה | התמונות להמחשה בלבד; טיב השירות, המנות וכל הקשור באלה, הינם באחריות המסעדות המשתתפות בלבד ואינו באחריותה של עורכת הפעילות  | 
			<a href="http://www.pdf995.com/samples/pdf.pdf" class="footer__link" target="_blank">מדיניות פרטיות</a>
		</p>
	</div>
	
</footer>
