{% set
	'restaurantChain' = [
		{
			'img': 'img/logo-3.png',
			'imgAlt': 'chain 1',
			'chainName': 'אגאדיר'
		},
		{
			'img': 'img/logo-4.png',
			'imgAlt': 'chain 2',
			'chainName': "קינג ג'ורג'",
			'restaurant': [
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '11',
					'iframeSrc': '11'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '12',
					'iframeSrc': '12'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '13',
					'iframeSrc': '13'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '14',
					'iframeSrc': '14'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '15',
					'iframeSrc': '15'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '16',
					'iframeSrc': '16'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '17',
					'iframeSrc': '17'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '18',
					'iframeSrc': '18'
				},
				{
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '19',
					'iframeSrc': '19'
				}
			]
		}
	]
%}



{% set
	'restaurantRegions' = [
		{
			'region': 'צפון',
			'restaurant': [
				{
					'logo': 'img/logo-5.png',
					'logoAlt': 'logo-5',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-6.png',
					'logoAlt': 'logo-6',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-7.png',
					'logoAlt': 'logo-7',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-5.png',
					'logoAlt': 'logo-5',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-6.png',
					'logoAlt': 'logo-6',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-7.png',
					'logoAlt': 'logo-7',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-5.png',
					'logoAlt': 'logo-5',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-6.png',
					'logoAlt': 'logo-6',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-7.png',
					'logoAlt': 'logo-7',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}
			]
		},
		{
			'region': 'שרון',
			'restaurant': [
				{
					'logo': 'img/logo-5.png',
					'logoAlt': 'logo-5',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-6.png',
					'logoAlt': 'logo-6',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-7.png',
					'logoAlt': 'logo-7',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-5.png',
					'logoAlt': 'logo-5',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-6.png',
					'logoAlt': 'logo-6',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-7.png',
					'logoAlt': 'logo-7',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-5.png',
					'logoAlt': 'logo-5',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}, {
					'logo': 'img/logo-6.png',
					'logoAlt': 'logo-6',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				},{
					'logo': 'img/logo-7.png',
					'logoAlt': 'logo-7',
					'resName': 'סניף נמל תל אביב',
					'address': 'התערוכה 3 נמל תל אביב',
					'cost': '5690',
					'pageRestourant': '321',
					'iframeSrc': '123'
				}
			]
		}
	]
%}

{% set
	recipe = [
		{
			'img': 'img/recipe-img.jpg',
			'imgAlt': 'recipe-img',
			'title': 'כאן יהיה שם המנה
אם צריך בשתי שורות'
		},
		{
			'img': 'img/recipe-img.jpg',
			'imgAlt': 'recipe-img',
			'title': 'כאן יהיה שם המנה
'
		},
		{
			'img': 'img/recipe-img.jpg',
			'imgAlt': 'recipe-img',
			'title': 'כאן יהיה שם המנה
'
		},
		{
			'img': 'img/recipe-img.jpg',
			'imgAlt': 'recipe-img',
			'title': 'כאן יהיה שם המנה
אם צריך בשתי שורות'
		},
		{
			'img': 'img/recipe-img.jpg',
			'imgAlt': 'recipe-img',
			'title': 'כאן יהיה שם המנה
אם צריך בשתי שורות'
		},
		{
			'img': 'img/recipe-img.jpg',
			'imgAlt': 'recipe-img',
			'title': 'כאן יהיה שם המנה
אם צריך בשתי שורות'
		}
	]
%}